body{
	margin:0;
}


p,a,li,h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #5e6366;
}

#top{
	background-image: url('../img/bg_top.png');
	height: 768px;
}

	.header{
		/*overflow: hidden;*/
		height: 79px;
		width:100%;
		margin: auto;
		text-align: right;
		border-bottom: solid 1px #4b9af6;
	}

		.header nav{
			list-style-type: none;
		    display: inline-block;
		    margin-right: 298px;
		}

		.header nav li{
			display: block;
			overflow: hidden;
			float: left;
			padding:28px 28px 28px 0;
		}

		.header nav li a{
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			font-weight: 400;
			color:#fff;
			text-decoration: none;
		}

		.header nav li a:hover{
			border-bottom: solid 2px #fff;
    		padding-bottom: 28px;
		}

		.header .logo{
			overflow: hidden;
    		position: absolute;
    		left: 298px;
    		top: 26px;
    		font-family: 'Open Sans', sans-serif;
    		font-size: 20px;
    		color: white;
    		text-transform: uppercase;
		}

	#top h1{
		display: block;
		font-family: 'Exo 2', sans-serif;
		font-size: 80px;
		font-weight: 700;
		font-style: italic;
		color:#fff;
		text-align: center;
		margin-top: 187px;
		margin-bottom: 10px;
	}

	#top h1 span{
		color:#5ac102;
	}

	#top p{
		text-align: center;
		color:#fff;
		font-size: 16px;
		margin:0;
		margin-bottom: 32px;
	}

	.green_button{
	    text-decoration: none;
	    font-size: 16px;
	    font-weight: 600;
	    color: #fff;
	    display: block;
	    width: 200px;
	    padding-top: 9px;
	    padding-bottom: 9px;
	    background-color: #5ac102;
	    text-align: center;
	    border-radius: 20px;
	    margin: auto;
	}

.container{
	width: 1328px;
	margin: 0 auto;
	overflow: hidden;
}	

	.container h1{
		font-family: 'Exo 2', sans-serif;
	    color: #3d3d3d;
	    font-size: 56px;
	    font-weight: 500;
	    display: table;
	    margin: 62px auto 42px auto;
	    text-align: center;
	    border-bottom: solid 2px #24aede;
	    padding-bottom: 26px;
	}

	.container .left{
		width:46%;
		overflow: hidden;
		float: left;
		text-align: left;
	}

	.container .right{
		width:46%;
		overflow: hidden;
		float: right;
		text-align: left;
	}

	.container p {
		font-size: 16px;
		line-height: 32px;
		margin:0;
	}

	.container h3{
		font-size: 24px;
		line-height: 32px;
		margin: 28px 0;
	}

	.container .lined{
		list-style-type: none;
		border-left: solid 2px #24aede;
		padding-left: 20px;
	}

		.container .lined li{
			line-height: 32px;
		}
.quote{
	font-family: 'Open Sans', sans-serif;
	width:100%;
	height: 256px;
	background-image: url("../img/quote.png");
	background-size: contain;
	overflow: hidden;
	margin-top:80px;
	margin-bottom: 80px;
}
	.quote h2, .quote p{
		line-height: 40px;
		color:#fff;
		width:1212px;
		text-align: right;
	}	
	.quote h2{
		font-weight: 600;
		font-size: 32px;
		margin:86px auto 0 auto;
	}

	.quote p{
		font-size: 24px;
		font-weight: 400;
		margin:0 auto;
		
	}

	.icon-wrap{
		display: block;
		float: left;
		margin-right:24px;
	}
	.icon-wrap i{
		width: 80px;
    	height: 80px;
    	display: block;
    	background-repeat: no-repeat;
    	background-position: center;
	}

	.icon_plane{
		background-image:url('../img/icons/plane.png');
	}
	.icon_scope{
		background-image:url('../img/icons/scope.png');
	}
	.icon_wallet{
		background-image:url('../img/icons/wallet.png');
	}
	.icon_bag{
		background-image:url('../img/icons/bag.png');
	}
	.icon_chart{
		background-image:url('../img/icons/chart.png');
	}
	.icon_lock{
		background-image:url('../img/icons/lock.png');
	}

	.ops{
		list-style-type: none;
		display: block;
    	overflow: hidden;
    	padding: 0;
    	margin: 0;
    	/*width: 1328px;*/
    	margin: auto;
	}

	.ops li{
		display: block;
	    width: 31.5%;
	    float: left;
	    margin-right: 20px;
	}

	.ops li .text-wrap{
		display: block;
		/*float: right;
    	width: 70%;*/
	}

			.text-wrap h3{
				font-size: 16px;
				font-weight: 600;
				margin:0;
				line-height: 24px;	
			}

			.text-wrap p{
				line-height: 24px;
			}
/*Поехали!*/
.icon-wrap{
	border-radius: 50%;
    border: 1px solid #dbd5d5;
}
.ops li{
	padding-bottom: 56px;
}
.text-wrap h3 {
	padding-bottom: 15px;
}
.icon-wrap {
	margin-top: 6px;	
}
#author .container .bio{
    box-shadow: 0 0 64px rgba(235,235,235,1);
    border-radius: 10px;
}
.bio {
	/*width: 1270px;*/
	overflow: hidden;
	width: 95.63%;
	margin:25px auto 0 auto;
	font-family: 'Open Sans', sans-serif;
}
.bio img {
	display: block;    
    float: left;
    padding-right: 24px;
    padding-left: 55px;
    margin-top: 48px;
    margin-bottom: 82px;
}
.bio h1{
	display: block;
	margin:14px auto 0 auto;
	border-bottom: solid 1px #ebebeb;
}
.bio h2{	
    font-weight: 300;
    color: #5e6366;
    margin-top: 38px;
}

.bio br{
	line-height: 32px;
}

.bio .trade_exp{
    font-weight: bold;
	color: #4da7ff;
	margin-top: -15px;
	padding-bottom: 25px;
}

.learning{
	display: block;
    float: left;
    width: 33%;
    padding-top: 15px;
    padding-bottom: 80px;    
}

.icon-wrap2{
	display: block;
}

.icon-wrap2 i{
	margin: auto;
	width: 120px;
    height: 120px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 1px solid #dbd5d5;
}

.icon_loop{
	background-image:url('../img/icons/loop.png');
}

.icon_hands{
	background-image:url('../img/icons/hands.png');
}

.icon_money{
	background-image:url('../img/icons/money.png');
}

.learning .custom_h{
	font-weight: bold;
	text-align: center;	
	margin-bottom: 0px;
	margin-top: 25px; 
}

.learning p{
	text-align: center;
}

.gallery ul li a img{
		
}

