body{
	margin:0;
}

hr{
	width:80px;
	height: 2px;
	border:0;
	margin: -2px auto 0 auto; /*LIKE A GAY!*/
	background-image: linear-gradient(45deg,#1fa2f2,#29bdc7);
}

hr.white{
	background-image: none;
	background-color:#fff;
	color:#fff;
}


p,a,li,h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #5e6366;
}

#top{
	background-image: url('../img/bg_top.png');
	height: 768px;
}

#top.thanks{
	background-image: url('../img/bg_thanks.png');
	height: 960px;
}

	.header{
		/*overflow: hidden;*/
		height: 79px;
		width:100%;
		margin: auto;
		text-align: right;
		border-bottom: solid 1px #4b9af6;
	}

		.header nav{
			list-style-type: none;
		    display: inline-block;
		    margin-right: 298px;
		}

		.header nav li{
			display: block;
			overflow: hidden;
			float: left;
			padding:28px 28px 28px 0;
		}

		#social li{
			padding:24px 8px 24px 0;
		}

		.header nav li a{
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			font-weight: 400;
			color:#fff;
			text-decoration: none;
		}

		.header nav li a:hover{
			border-bottom: solid 2px #fff;
    		padding-bottom: 28px;
		}

		#social li a:hover{
			padding-bottom: 17px;
		}

		.header .logo{
			overflow: hidden;
    		position: absolute;
    		left: 298px;
    		top: 32px;
    		font-family: 'Open Sans', sans-serif;
    		font-size: 20px;
    		color: white;
    		text-transform: uppercase;
		}

	#top h1{
		display: block;
		font-family: 'Exo 2', sans-serif;
		font-size: 80px;
		font-weight: 700;
		font-style: italic;
		color:#fff;
		text-align: center;
		margin-top: 187px;
		margin-bottom: 10px;
	}

	#top h1 span{
		color:#5ac102;
	}

	#top.thanks h1{
		font-size: 64px;
	}

	#top p{
		text-align: center;
		color:#fff;
		font-size: 16px;
		margin:0;
		margin-bottom: 32px;
		font-weight: 400;
	}

	#top>p>a{
		color:#fff;
		font-weight: 400;
	}

	.green_button{
	    text-decoration: none;
	    font-size: 16px;
	    font-weight: 600;
	    color: #fff;
	    display: block;
	    width: 200px;
	    padding-top: 9px;
	    padding-bottom: 9px;
	    background-color: #5ac102;
	    text-align: center;
	    border-radius: 20px;
	    margin: auto;
	}

	.button{
		display: block;
		font-family: 'Open Sans', sans-serif;
		width:200px;
		background-color:#21a8e8;
		color:#fff;
		border-radius: 20px;
		text-decoration: none;
		font-size: 16px;
		font-weight: 600;
		line-height: 24px;
		padding:6px 0 9px 0;
		margin: 40px auto 48px auto;
		box-shadow: 0 4px 24px rgba(33,168,232,.32);
		text-align: center;
		border:none;
		cursor:pointer;
	}

	.button.green{
		background-color: #5ac102;
		box-shadow: 0 4px 24px rgba(90,193,2,.32);
	}

	#top .button{
		margin-top:25px;
	}

.container{
	width: 1328px;
	margin: 0 auto;
	overflow: hidden;
}	

	.container h1, #gallery h1, .garantee h1, .popup h1{
		font-family: 'Exo 2', sans-serif;
	    color: #3d3d3d;
	    font-size: 56px;
	    font-weight: 500;
	    display: block;
	    margin: 62px auto 0 auto;
	    text-align: center;
	    /*border-bottom: solid 2px #24aede;*/
	    padding-bottom: 26px;
	}

	.container .left, .container .right{
		width:46%;
		overflow: hidden;
		text-align: left;
		margin-top: 42px;
	}

	.container .left{
		float: left;
	}

	.container .right{
		float: right;	
	}

	.container p {
		font-size: 16px;
		line-height: 32px;
		margin:0;
	}

	.container h3{
		font-size: 24px;
		line-height: 32px;
		margin: 28px 0;
	}

	.container .lined{
		list-style-type: none;
		border-left: solid 2px #24aede;
		padding-left: 20px;
	}

		.container .lined li{
			line-height: 32px;
		}
.quote{
	font-family: 'Open Sans', sans-serif;
	width:100%;
	height: 256px;
	background-image: url("../img/quote.png");
	background-size: contain;
	overflow: hidden;
	margin-top:80px;
	margin-bottom: 80px;
}
	.quote h2, .quote p{
		line-height: 40px;
		color:#fff;
		width:1212px;
		text-align: right;
	}	
	.quote h2{
		font-weight: 600;
		font-size: 32px;
		margin:86px auto 0 auto;
	}

	.quote p{
		font-size: 24px;
		font-weight: 400;
		margin:0 auto;
		
	}

	.icon-wrap{
		display: block;
		float: left;
		margin:6px 24px 0 0;
		border-radius: 50%;
    	border: 1px solid #e0e0e0;
	}
	.icon-wrap i{
		width: 80px;
    	height: 80px;
    	display: block;
    	background-repeat: no-repeat;
    	background-position: center;
	}

	.icon_plane{
		background-image:url('../img/icons/plane.png');
	}
	.icon_scope{
		background-image:url('../img/icons/scope.png');
	}
	.icon_wallet{
		background-image:url('../img/icons/wallet.png');
	}
	.icon_bag{
		background-image:url('../img/icons/bag.png');
	}
	.icon_chart{
		background-image:url('../img/icons/chart.png');
	}
	.icon_lock{
		background-image:url('../img/icons/lock.png');
	}

	.ops{
		list-style-type: none;
		display: block;
    	overflow: hidden;
    	padding: 0;
    	margin: 0;
    	/*width: 1328px;*/
    	margin: auto;
	}

	.ops li{
		display: block;
	    width: 31.5%;
	    float: left;
	    margin-right: 20px;
	    padding-bottom: 56px;
	}

	.ops li .text-wrap{
		display: block;
	}

			.text-wrap h3{
				font-size: 16px;
				font-weight: 600;
				margin:0;
				line-height: 24px;
				padding-bottom: 15px;	
			}

			.text-wrap p{
				line-height: 24px;
			}

.bio {
	overflow: hidden;
	width: 95.63%;
	margin:25px auto 0 auto;
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0 0 64px rgba(235,235,235,1);
    border-radius: 10px;
}

	.bio img {
		display: block;    
	    float: left;
	    padding-right: 24px;
	    padding-left: 55px;
	    margin-top: 48px;
	    margin-bottom: 82px;
	}

	.bio h1{
		display: block;
		margin:14px auto 0 auto;
		border-bottom: solid 1px #ebebeb;
	}
	.bio h2{	
	    font-weight: 300;
	    color: #5e6366;
	    margin-top: 38px;
	}

	.bio br{
		line-height: 32px;
	}

	.bio .trade_exp{
	    font-weight: bold;
		color: #4da7ff;
		padding-bottom: 25px;
	}

#author > .container > h1{
	margin-top: 54px;
}

#author > .container > p{
	margin-top: 16px;
	text-align: center;
}	

#author ul{
	display: block;
    overflow: hidden;
    padding: 0;
    width: 93.98%;
    margin: 22px auto 0 auto;
}

.learning{
	display: block;
    float: left;
    width: 33.33%;
    padding-top: 15px;
    padding-bottom: 80px;    
}

	.learning div i{
		margin: auto;
		width: 120px;
	    height: 120px;
	    display: block;
	    background-repeat: no-repeat;
	    background-position: center;
	    border-radius: 50%;
	    border: 1px solid #dbd5d5;
	}

	.learning p{
		text-align: center;
		line-height: 24px;
	}

	.icon_loop{
		background-image:url('../img/icons/loop.png');
	}

	.icon_hands{
		background-image:url('../img/icons/hands.png');
	}

	.icon_money{
		background-image:url('../img/icons/money.png');
	}

	.learning h3{
		font-weight: 600;
		font-size: 16px;
		text-align: center;	
		margin-bottom: 0px;
		margin-top: 25px; 
	}

	.learning_line_left, .learning_line_right{
		height: 1px;
		background-color: #e0e0e0;
		color: #e0e0e0;
		position: absolute;
		z-index: 0;
		width:296px;
		top: 3090px;
		background-image: none;
	}

	.learning_line_left{
	    left: 595px;
	}

	.learning_line_right{
		right:596px;
	}

	@media (max-width:1440px){
		.learning_line_left{
		    left: 25.3%;
		}

		.learning_line_right{
			right: 25.3%;
		}
	}

	@media (max-width:1366px){
		.learning_line_left{
		    /*left: 595px;*/
		    left: 23.95%;
		}

		.learning_line_right{
			/*right:596px;*/
			right: 23.95%;
		}
	}

#gallery{
	background-color: #f5f5f5;
	overflow: hidden;
}

	#gallery h1{
		margin-top: 65px;
	}

	#gallery ul{
		width:1328px;
		margin:40px auto 48.453px auto;
	}

	#gallery ul li{
		display: block;
		overflow: hidden;
		float: left;
		margin-right: 3%;
		margin-bottom:2%; 
		width:31.32%;
	}

	#gallery ul li:nth-child(3n+0){
		margin-right:0;
	}

	#gallery ul li a{
		position: absolute;
		display: block;
	   /*height: 32.8%;
	    width: 21.85%;*/
	    height: 312px;
    	width: 416px;
		
	}

	#gallery ul li a:hover{
		z-index: 200;
		background-color: rgba(31,163,241,.8);
		border-radius: 8px;
	}

	#gallery ul li img{
		border-radius: 8px;
		width: 416px;
    	height: 312px;
	}

	#gallery .zoom{
		display: none;
	    position: absolute;
	    color: white;
	    width: 200px;
	    margin-top: 33%;
	    margin-left: 28%;
	    z-index: 201;
	    text-align: center;
	    border-radius: 20px;
	    border: solid 1px #fff;
	    font-size: 16px;
	    font-weight: 600;
	    line-height: 24px;
	    padding-top: 6px;
	    padding-bottom: 9px;
	}

#prog table{
	border-collapse: collapse;
	border-bottom:solid 2px linear-gradient(to top right,#1fa2f2,#29bdc7);
	margin: 40px 48px 0 48px;
}

#prog table h3{
	margin:47px 0 47px 40px;
	padding: 0;
}

#prog table p{
	margin:0 0 0 40px;
	padding: 0;
}

#prog table td{
	padding:0;
	border-top:solid 1px #e0e0e0;
	border-right:solid 1px #e0e0e0;
	border-left:solid 1px #e0e0e0;
	vertical-align: top;
	width:33.33%;
	padding-bottom:47px;
}

.table-bottom{
	width:auto;
	height: 4px;
	margin:0 48px 0 48px;
}

#prog .left,#prog .right{
	width:48%;
}

#prog .left h2, #prog .right h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 64px;
	color:#3d3d3d;
}

#prog .left p, #prog .right p{
	padding-bottom: 30px;
}

.price_block{
	float: left;
	width:31.32%;
	box-shadow: 0 0 64px rgba(235,235,235,1);
	border-radius: 8px;
	text-align: center;
	margin: 48px 0 36px 0;
}

.price_block.middle{
	margin:48px 3.02%;
}

.price_block *{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	margin-bottom: 14px;
}

.price_block .base{
	background-image: linear-gradient(45deg,#1fa2f2,#29bdc7);
}

.price_block .stand{
	background-image: linear-gradient(45deg,#5ac102,#4eaf8c);
}

.price_block .vip{
	background-image: linear-gradient(45deg,#1fa2f2,#29bdc7);
}

.price_block h1,h2{
	margin: 0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	color:#fff;
}

.price_block h1{
	padding-top: 35px;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
}

.price_block h2{
	font-family: 'Exo 2', sans-serif;
	font-size: 48px;
	font-weight: 700;
	padding-bottom: 30px;
}

.price_block p{
	line-height: 40px;
	background-image: url(../img/separator.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 39px;
}

.price_block p.nosep{
	background-image: none;
}

.button{
	display: block;
	font-family: 'Open Sans', sans-serif;
	width:200px;
	background-color:#21a8e8;
	color:#fff;
	border-radius: 20px;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	padding:6px 0 9px 0;
	margin: 40px auto 48px auto;
	box-shadow: 0 4px 24px rgba(33,168,232,.32);
	text-align: center;
}

.button.green{
	background-color: #5ac102;
	box-shadow: 0 4px 24px rgba(90,193,2,.32);
}

#price .terms{
	width:416px;
	text-align: center;
	margin:0 auto 70px auto;
}

#comments .slider_wrap{
	background-image: linear-gradient(45deg,#1fa2f2,#29bdc7);
}

#comments .slider_wrap h1{
	color:#fff;
}

#comments .slider_wrap h2{
	color:#3d3d3d;
}

#comments .slider_wrap p{

}



.garantee{
	width:960px;
	box-shadow: 0 0 64px rgba(235,235,235,1);
	margin: 80px auto 0 auto;
}

.garantee h1{
	padding-top: 64px;
}

.garantee p{
	width:880px;
	padding-bottom: 80px;
	margin:24px auto 0 auto;
	text-align: center;
	line-height: 32px;
}

#comments>h3{
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	line-height: 40px;
	width:960px;
	margin:64px auto 14px auto;
}

footer{
	margin-top: 120px;
	border-top:solid 1px #e0e0e0;
	text-align: center;
}

.overlay {
	display: none;
    position: fixed;
    width: 100%;
    opacity: 0.5;
    top: 0px;
    margin: 0px;
    min-height: 200px;
    height: 100%;
    background-color: #000;
    z-index: 1;
}

.popup{
	display: none;
	position: fixed;
	margin:auto;
	width:832px;
	height: auto;
	background-image: linear-gradient(45deg,#1fa2f2,#29bdc7);
	position: fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 8px;
}

#close_cross{
	display: block;
	width: 12px;
	height: 12px;
	position: absolute;
	background-image: url('../img/close.png');
	background-repeat: no-repeat;
	right: 24px;
    top: 24px;
    z-index: 3;
}

#close_cross:hover{
	cursor:pointer;
}

.popup h1{
	color:#fff;
	margin-top: 28px;
	padding-bottom: 16px;
}

.popup .inputbox{
	display: table;
	margin: auto;
	overflow: hidden;
	margin-top: 32px;
}

.popup .button{
	margin-top: 32px;
	margin-bottom: 40px;
}

.popup input[type="text"],.popup input[type="email"]{
	font-family: 'Open Sans', sans-serif;
	padding-top: 6px;
	padding-bottom: 10px;
	padding-left:12px;
	padding-right:12px;
	line-height: 24px;
	font-size: 16px;
	font-weight: 300;
	border-radius: 8px;
	border: none;
	
}

.popup input:nth-child(2){
	margin:0 16px;
}

/*BX SLIDER*/
.bx-wrapper{
	border-radius: 8px;
	width:960px;
	margin-top: 48px;
}

.bx-wrapper .bx-viewport{
	border: none;
    border-radius: 8px;
    box-shadow: none;
}

.bx-wrapper .bx-viewport p{
	width:880px;
	margin: 24px 40px;
	padding-bottom: 24px;
}

.bx-wrapper img{
	display: block;
	margin: auto;
}

.bx-wrapper h2{
	text-align: center;
	margin-top: 14px;
	padding-bottom: 26px;
	border-bottom: solid 1px #ebebeb;
	font-size: 24px;
	font-weight: 300;
	line-height: 32px
}

.bx-wrapper .bx-pager.bx-default-pager a{
	background:#fff;
}

.bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:hover{
	width:14px;
	height: 14px;
	border-radius: 50%;
	border: solid 1px #fff;
	background: none;
	position: relative;
	top:-2px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active .outline, .bx-wrapper .bx-pager.bx-default-pager a:hover .outline{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    top: 2px;
    left: 2px;
}

.bx-wrapper .bx-prev, .bx-wrapper .bx-next{
    background: url(../img/next.png) no-repeat;
}

.bx-wrapper .bx-prev{
	 left: -92px;
}

.bx-wrapper .bx-next {
	right: -92px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bx-wrapper .bx-next:hover, .bx-wrapper .bx-prev:hover{
	background-position: inherit;
	color:grey;
}

.bx-wrapper .bx-controls-direction a{
	width: 47px;
    height: 80px;
}
/*BX SLIDER END*/